name: Publish Nightly

on:
  workflow_dispatch:

env:
  QSV_KIND: prebuilt-nightly

jobs:
  analyze-tags:
    runs-on: ubuntu-latest
    outputs:
      previous-tag: ${{ steps.previoustag.outputs.tag }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      #▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼#
      - name: Get previous tag
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
      #▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲#

  publish:
    name: Publish for ${{ matrix.job.target }}
    needs: analyze-tags
    runs-on: ${{ matrix.job.os }}
    strategy:
      matrix:
        rust: [nightly-2026-01-09]
        job:
          - os: ubuntu-24.04
            os-name: linux
            target: x86_64-unknown-linux-gnu
            architecture: x86_64
            addl-build-args: --features=apply,luau,fetch,foreach,nightly,self_update,geocode,polars,to,lens,prompt,nightly-polars
            default-features:
            addl-qsvlite-features:
            addl-qsvdp-features:
            addl-rustflags: -C target-cpu=native -Z unstable-options -C panic=immediate-abort
          - os: windows-latest
            os-name: windows
            target: x86_64-pc-windows-msvc
            architecture: x86_64
            addl-build-args: --features=apply,fetch,nightly,self_update,polars,geocode,to,lens,prompt,nightly-polars
            default-features:
            addl-qsvlite-features:
            addl-qsvdp-features:
            addl-rustflags: -C target-cpu=native -Z unstable-options -C panic=immediate-abort

    steps:
    - name: Installing Rust toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
        components: rust-src
        target: ${{ matrix.job.target }}
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        ref: ${{ needs.analyze-tags.outputs.previous-tag }}
    - name: build prep for x86_64-unknown-linux-musl
      if: ${{ matrix.job.musl-prep }}
      run: |
        sudo apt-get install musl-tools musl-dev
        sudo ln -s /usr/bin/g++ /usr/bin/musl-g++
    - name: apt-get update Ubuntu, libwayland-dev
      if: ${{ matrix.job.os-name == 'linux' }}
      run: |
        sudo apt-get update
        sudo apt-get install libwayland-dev
    - uses: actions/setup-python@v6.1.0
      with:
        python-version: '3.13'
    - name: Build qsv-nightly
      # env:
      #   RUSTFLAGS: --emit=asm
      env:
        RUSTFLAGS: ${{ matrix.job.addl-rustflags }}
      uses: actions-rs/cargo@v1
      with:
        command: build
        use-cross: false
        toolchain: ${{ matrix.rust }}
        args: --profile release-nightly --bin qsv -Z build-std=std --target ${{ matrix.job.target }} ${{ matrix.job.addl-build-args }},feature_capable,nightly ${{ matrix.job.default-features }}
    - name: Build qsvlite-nightly
      env:
        RUSTFLAGS: --emit=asm ${{ matrix.job.addl-rustflags }}
      uses: actions-rs/cargo@v1   
      with:
        command: build
        use-cross: false
        toolchain: ${{ matrix.rust }}
        args: --profile release-nightly --bin qsvlite -Z build-std=std --features=lite,self_update,nightly,${{ matrix.job.addl-qsvlite-features }} --target ${{ matrix.job.target }} ${{ matrix.job.default-features }}
    # TODO: Add qsvdp-nightly build back in after v5.0.3, be sure to copy qsvdp binaries below
    # - name: Build qsvdp-nightly
    #   env:
    #     RUSTFLAGS: --emit=asm ${{ matrix.job.addl-rustflags }}
    #   uses: actions-rs/cargo@v1
    #   with:
    #     command: build
    #     use-cross: false
    #     toolchain: ${{ matrix.rust }}
    #     args: --profile release-nightly --bin qsvdp -Z build-std=std -Z unstable-options --features=datapusher_plus,nightly,${{ matrix.job.addl-qsvdp-features }} --target ${{ matrix.job.target }} ${{ matrix.job.default-features }}
    - name: Copy binaries to working dir
      shell: bash
      run: |
        mkdir qsv-${{ needs.analyze-tags.outputs.previous-tag }}
        rm target/${{ matrix.job.target }}/release-nightly/*.d 
        cp target/${{ matrix.job.target }}/release-nightly/qsv* qsv-${{ needs.analyze-tags.outputs.previous-tag }}
        cd qsv-${{ needs.analyze-tags.outputs.previous-tag }}
        if [ "$RUNNER_OS" == "Windows"]; then
             mv qsv.exe qsv_nightly.exe
             mv qsvlite.exe qsvlite_nightly.exe
        else
             mv qsv qsv_nightly
             mv qsvlite qsvlite_nightly
        fi
        rustup show > qsv_nightly_rust_version_info.txt
        cd ..
    - name: install zipsign
      run: |
        cargo install zipsign
    - name: Fetch zipsign private key
      uses: mobiledevops/secret-to-file-action@v1
      with:
        base64-encoded-secret: ${{ secrets.QSV_ZIPSIGN_PRIV_KEY }}
        filename: "qsvpriv.key"
        is-executable: false
        working-directory: "."
    - name: Download latest release zip
      uses: robinraju/release-downloader@v1.12
      with:
        repository: "dathere/qsv"
        latest: true
        preRelease: true
        token: ${{ secrets.GITHUB_TOKEN }}
        fileName: qsv-${{ needs.analyze-tags.outputs.previous-tag }}-${{ matrix.job.target }}.zip
    - name: remove zipsign signature from zip archive
      run: |
        zipsign unsign zip qsv-${{ needs.analyze-tags.outputs.previous-tag }}-${{ matrix.job.target }}.zip
    - name: add/update nightly files to zip
      run: 7z u -tzip qsv-${{ needs.analyze-tags.outputs.previous-tag }}-${{ matrix.job.target }}.zip ./qsv-${{ needs.analyze-tags.outputs.previous-tag }}/qsv* -mx=9 -mmt=on
    - name: re-zipsign zip archive
      run: |
        zipsign sign zip qsv-${{ needs.analyze-tags.outputs.previous-tag }}-${{ matrix.job.target }}.zip qsvpriv.key
    - name: Upload zipped binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: qsv-${{ needs.analyze-tags.outputs.previous-tag }}-${{ matrix.job.target }}.zip
        asset_name: qsv-${{ needs.analyze-tags.outputs.previous-tag }}-${{ matrix.job.target }}.zip
        prerelease: true
        make_latest: false
        overwrite: true
        tag: ${{ needs.analyze-tags.outputs.previous-tag }}    
 
