name: macOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

concurrency:
  group: ci-macos-tests-${{ github.ref }}-1
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    # runs-on: self-hosted
    runs-on: macos-26

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6.2.0
      with:
        python-version: '3.13'
    - name: Installing Rust toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
    - name: Setup Rust-cache
      uses: Swatinem/rust-cache@v2
      with:
        key: qsv-macoslatestcache
    - name: Remove cargo config from GH runner image which has target-cpu=native set
      run: rm -f .cargo/config.toml
    - name: Run tests
      run: cargo test --verbose --locked --features=apply,fetch,foreach,geocode,luau,python,polars,to,feature_capable,ui
