name: Linux Polars Pinned Nightly
# polars nightly is pinned to a specific nightly version
# set at https://github.com/pola-rs/polars/blob/main/rust-toolchain.toml

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6.2.0
      with:
        python-version: '3.13'
    - name: apt-get update Ubuntu, libwayland-dev
      run: |
        sudo apt-get update
        sudo apt-get install libwayland-dev
    - name: Install and Run Redis
      run: |
        sudo apt-get install redis-server
        sudo service redis-server start
    - name: Installing Rust toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        # set to the pinned nightly version known to work with polars
        toolchain: nightly-2026-01-09
        components: rust-src
        target: x86_64-unknown-linux-gnu
    - name: Run tests
      run: cargo test --verbose --locked --features=apply,fetch,foreach,geocode,luau,python,feature_capable,nightly,to,polars,nightly-polars,lens
